@model WebServerPrograming.Models.Movie

@{
    ViewData["Title"] = "Movie Details";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-warning">@TempData["Message"]</div>
}

// Resimleri yüklemek için Url.Content kullandım wwwroota Images folder açıp.
@if (Model != null)
{
    <div class="movie-info">
        <img src="@Url.Content(Model.ImageUrl)" alt="Movie Cover" style="max-width: 200px;" />
        <h2>@Model.Title</h2>
        <p>Director: @Model.Director</p>
        <p>Stars: @Model.Stars</p>
        <p>Release Year: @Model.ReleaseYear</p>
        <form method="post" action="@Url.Action("AddToCart", "Info", new { id = Model.MovieID })">
            <button type="submit">Add to Cart</button>
        </form>
        <a href="/Cart/Cart">Go to Cart</a>
        <a href="/">Go to HomePage</a>
    </div>
}
else
{
    <div class="alert alert-danger">Movie not found.</div>
}